# Dependencies
node_modules/
out/
dist/
target/
*.local

# Logs
*.log
npm-debug.log*
*.tsbuildinfo

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/

# Env
.env
.env.*

# Tauri (generated at build time)
src-tauri/gen/
